@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 219, 220;
   --background-end-rgb: 255, 255, 255;
}

.change-background-to-red {
   filter: invert(50%) sepia(99%) saturate(20002%) hue-rotate(357deg)
      brightness(96%) contrast(99%);
}

.change-background-to-yellow {
   filter: invert(19%) sepia(79%) saturate(20012%) hue-rotate(357deg)
      brightness(86%) contrast(39%);
}

.texto-limitado {
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* Número de líneas a mostrar */
   overflow: hidden;
   text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se corta */
}

.custom-scroll-bar::-webkit-scrollbar {
   width: 0px;
   height: 0px;
}

@layer utilities {
   .calendar-white::-webkit-calendar-picker-indicator {
      filter: invert(1);
   }
   .calendar-pointer::-webkit-calendar-picker-indicator {
      cursor: pointer;
   }
}

.image-container div:nth-child(1),
.image-container div:nth-child(2) {
   width: 0;
   height: 0;
   opacity: 0;
}

.image-container div:nth-child(1) {
   position: absolute;
   background-color: white;
   left: 50%;
   top: 0;
   translate: -50% 0;
   rotate: 90deg;
}
.image-container div:nth-child(2) {
   position: absolute;
   background-color: white;
   left: 100%;
   top: 50%;
   translate: 0 -50%;
   rotate: 90deg;
}

.image-container:hover div:nth-child(1) {
   position: absolute;
   width: 50px;
   height: 1px;
   background-color: white;
   left: 50%;
   top: 50%;
   translate: -50% 0;
   rotate: 90deg;
   opacity: 1;
}
.image-container:hover div:nth-child(2) {
   position: absolute;
   width: 1px;
   height: 50px;
   background-color: white;
   left: 50%;
   top: 50%;
   translate: 0 -50%;
   rotate: 90deg;
   opacity: 1;
}
